*
.konten-atas {
    padding-left: 0;
}

.konten-kiri {
    position: relative;
  }
  .background {
    position: relative;
    padding: 0 0;
    width: 600px;
    height: 93vh;
    background-color: #000000;
  }
  .slide {
    position: absolute;
    size: 100%;
    margin-left: 15vw;
    margin-top: 8vh;
    top: 30px;
    left: 2vw;
  }
  

  .judul-home {
    font-size: 7rem;
    font-family: 'bebas neue';
  }
  .desc-home{
    font-size: 1.2rem;
    margin-bottom: 3vw;
    line-height: 170%
  }

  .konten-home {
    text-align: left;
    margin-left: 180px;
    margin-right: 50px;
    margin-top: 13vw;
  }

  .text-home {
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    padding-left: 0px;
    letter-spacing: 7%;
  }
  .text-home:hover {
    color: rgb(80, 80, 80);
  }

  .icon-arrow {
    padding-bottom: 3px;
    padding-left: 7px;
  }
