.body-lapor{
    background-image: url(./asset/GambarPsikolog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 46vw;
}

.judul-konten{
    font-family: 'Bebas Neue', sans-serif;
}
.konten-lapor{
    width: 40vw;
    margin-right: 7vw;
    height: 100%;
}
.button-lapor{
    margin-top: 1vw;
    font-size: 1.2vw;
    padding: 5px 3vw;
    border-radius: 0;
}

.konten-lapor h1{
    font-size: 3.5vw;
}
.lapor-desc{
    margin: 3vw 0px 1.5vw;
    font-size: 1.1vw;
}

.btn-color{
    background-color: #EC6F00;
    color: white;
}

.btn-color:hover {
    background-color: rgb(190, 108, 70);
    color: white;
}