.body-lapor{
    height: 46vw;
}

.img-lapor {
    background-image: url(./asset/GambarPsikolog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.judul-konten{
    font-family: 'Bebas Neue', sans-serif;
}

.konten-lapor{
    width: 40vw;
    margin-right: 7vw;
    height: 100%;
}

/* .custom-lapor {
    padding: 190px 0;
} */

.button-lapor{
    font-size: 1vw;
    font-weight: 500;
    padding: 10px 3vw;
    border-radius: 0;
}

.button-lapor:hover {
    background-color: black!important;
}

.konten-lapor h1{
    font-size: 3.5vw;
}
.lapor-desc{
    margin: 1vw 0px 3vw;
    line-height: 1.2vw;
    font-size: 1vw;
    font-weight: 400;
}

.btn-color{
    background-color: #EC6F00;
    color: white;
}


.animate__delay-1s {
    --animate-delay: 0.1s;
}

.animate__delay-2s {
    --animate-delay: 0.15s;
}

@media(max-width: 900px) {
    .body-lapor {
        display: flex;
        justify-content: center!important;
        height: 415px;
    }

    .img-lapor {
        background-image: url(./asset/mobile-lapor.png);
    }

    .konten-lapor h1{
        font-size: 31px;
    }

    .konten-lapor {
        padding: 0 30px;
        width: auto;
        margin-right: 0;
    }

    .button-lapor{
        font-size: 16px;
        padding: 5px 46px;
        border-radius: 0;
    }

    .lapor-desc{
        font-size: 14px;
        line-height: unset;
    }
}