.custom-listartikel{
    margin-bottom: 50px;
    margin-top: 50px;
}

.gambar-card-artikel{
    width: 100%;
}

.card-artikel-text{
    font-family: roboto;
    font-size: 1rem;
    font-weight: medium;
    padding: 10px 20px 20px 20px;
}

.card-artikel{
    height: 100%;
    border: 2px solid black;
    width: 15rem;
    padding: 0px;
}
  
.card-artikel:hover {
    transition: 0.2s;
    transform: translateY(-5px);
}
.card-artikelhref{
    text-decoration: none;
    color: black;
}
.card-artikelhref:hover{
    text-decoration: none;
    color: black;
} 

.artikel-card {
    width: 18rem;
    color: black;
    text-decoration: none;
    border-radius: 0;
    padding: 0;
}

.artikel-card:hover {
    color: black;
}

.artikel-card .card-img-top {
    border-radius: 0;
}

.artikel-card .card-body {
    padding: 25px;
}
