.custom-listartikel{
    margin-bottom: 50px;
    margin-top: 50px;
}

.gambar-card-artikel{
    width: 100%;
}

.card-artikel-text{
    font-family: roboto;
    font-size: 1rem;
    font-weight: medium;
    padding: 10px 20px 20px 20px;
}

.card-artikel{
    border: 2px solid black;
    width: 15rem;
    height: 300px;
    margin: 20px 12px 0px 12px;
    padding: 0px;
}
  
.card-artikel:hover {
    transition: 0.2s;
    transform: translateY(-5px);
}
.card-artikelhref{
    text-decoration: none;
    width: 20rem;
    color: black;
}
.card-artikelhref:hover{
    text-decoration: none;
    color: black;
} 
