.custom-login{
    /* margin: 100px 100px 0 100px; */
    width: 100%;
    min-height: 100vh;
}
.login-form .input-container {
	border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 20px;
    color: #9e9e9e;
	padding-bottom: 5px;
}

.custom-input {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
}

.login-form .input {
	border: 0;
	width: 350px;
}
.button-login{
    position: relative;
    background-color: #EC6F00;
    color: white;
    width: 350px;
}
.logo-login{
    height: 80px;
}
.classlogo{
    width: 350px;
}
.regis-login{
    color: #EC6F00;
    font-weight: bold;
    text-decoration: none;
}

.regis-login:hover {
    color: black;
}

.show-hide-password {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.button-login:hover {
    box-shadow:  2px 5px 10px 0 rgba(250, 217, 188, 1);
    color: white;
}