.custom-register{
    /* margin: 100px 100px 0 100px; */
    height: 100vh;
    width: 100vw;
}
.register-form .input-container {
	border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 20px;
    color: #9e9e9e;
	padding-bottom: 5px;
}
.register-form .input {
	border: 0;
	width: 350px;
}
.button-register{
    background-color: #EC6F00;
    color: white;
    width: 350px;
}
.logo-register{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.classlogo{
    width: 350px;
}
.regis-register{
    color: #EC6F00;
    font-weight: bold;
    text-decoration: none;
}
.button-register:hover {
    box-shadow:  2px 5px 10px 0 rgba(250, 217, 188, 1);
    color: white;
}