.text-judul{
    margin-top: 100px;
    height: 70px;
    font-size: 50px;
    font-family: Bebas Neue;
    width: 65vw;
    border: none;

}

.text-judul::placeholder{
    font-family: Bebas Neue;
    font-size: 50px;
    padding: 10px;
}
.text-isi{
    height: 400px;
    width: 65vw;
    border: none;
}
.btn-tulis-cerita{
    width: 65vw;
}
.btn-kirim, .btn-kirim:hover{
    font-size: 15px;
    font-family: 'Roboto';
    width: 300px;
    border-radius: 0;
    background-color: #EC6F00;
    color: white;
    position: relative;
}
.btn-kembali {
    font-size: 15px;
    font-family: 'Roboto';
    width: 100px;
    border-radius: 0;
    background-color: white;
    color: black;
    box-shadow: black;
    border-radius: 2px;
    border-color: black;
}

.pilihan-anonim{
    width: 65vw;
}
.check-anonim{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
.radio-anonim{
    height: 12px;
    width: 12px;
}
.judul-anonim{
    font-weight: bold;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-judul-anonim{
    margin-bottom: -10px;
}

.baris-batas{
        border: 1px solid black;
}
.garis-buat-cerita{
    border: 1px solid black;
    width: 65vw;
}